{% extends "base.html.twig" %}

{% block body %}

<h1>Ajoutez des vol</h1>

{{ form_start(form) }}
     {{ form_row(form.nomDeLaDestination)}}
    
    <button type="submit">Enregistrer</button>

{{ form_end(form)}}





{% endblock %}