{% extends "base.html.twig" %}

{% block h1 %}Modifier l'avion{% endblock %}

{% block body %}
    {{ form_start(form)}}
          {{ form_row(form.nom)}}
          {{ form_row(form.places)}}

          <button type="submit">Enregistrez les modifications</button>
    {{form_end(form)}}

{% endblock %}