{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}
    <h1>Bienvenue sur le Back office</h1>

    <a href="{{ path('ajoutez_destination') }}">Ajoutez une destination</a>
    <a href="{{ path('ajoutez_avion') }}">Ajoutez un avion</a>
    <a href="{{ path('tous_les_avions') }}">Gerez les avions</a>
{% endblock %}
